<h1>All Teachers</h1>
<h3>There are currently <%= @teachers.count %> active teachers.</h3>

<table>
<% @teachers.each do |teacher| %>
  <tr>
    <td><%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher_path(teacher)%></td>
    <td><%= pluralize(teacher.students.count, 'student') %></td>
  </tr>
<% end %>
</table>
