@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';


html {
    font-family: 'Lato';
  }
#front{
  margin-top:58px;
}

#front-title {
  font-family:'Lobster';
  font-size: 310px;
  color: white;
  opacity: 0.93;
}

nav a{
  font-family:'Lobster';
}
